.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.quiz {
    width: 600px;
}

.question-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.question-count {
    font-size: large;
    border-bottom: gray 1px solid;
    padding: 2px 0;
}

.question-text {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #3d3d3d;
    padding: 10px 0;
}

.answer-card {
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    column-gap: 20px;
    row-gap: 20px;
}

.answer-submit {
    border: none;
    background-color: #004574;
    color: white;
    width: 200px;
    cursor: pointer;
    margin: 10px 0 10px 0;
    font-size: 18px;
    padding: 8px;
    text-transform: uppercase;
    grid-column: 1/3;
}

.score-card {
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-text {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.reset-button {
    background-color: #004574;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.selection-error {
    grid-column: 1/3;
    font-weight: bold;
    margin-top: 5px;
    color: #cf1010;
}

.message {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0;
    color: #3a3a3a;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.header > h1 {
    text-align: center;
    color: white;
    padding: 40px 0 10px 0;
    margin: auto;
    transform: translateX(35px);
}

.logout {
    color: white;
    margin-left: auto;
    transform: translateY(20px) translateX(190px);
    border: white 2px solid;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.option-item {
    background-color: #95efff;
    width: 90%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

.option-item > input,
label {
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
   .quiz{
    width: 100%;
  }

  .header > h1{
    transform: translateX(-70px);
  }

  .logout{
    transform: translateY(20px) translateX(70px);
  }
}
